@import './vars'

*
  margin: 0
  padding: 0

body
  font-family: $f-main
  color: #fff
  @include background(#222 linear-gradient(#000 -50%, #222 40%) no-repeat)

a, a:visited
  color: $c-link
  text-decoration: none

input
  @include input

.cta
  @include ctaBtn